<img src="https://i.imgur.com/iPNqjs6.png" width="550" />
<div class="content">
<p>Welcome to Frugal Docs! Frugal Docs is your number one place to securely store your files.</p>
<p>Check out these official files on Frugal Docs:</p>
<ul>
<li>UT Austin Official <a href="/docs/uta">/docs/uta</a></li>
<li>A&M Offical Website <a href="/docs/anm">/docs/anm</a></li>
<li>It's an old meme sir, but it checks out. <a href="/docs/wow">/docs/wow</a></li>
</ul>
<p>File upload is currently available for PRO users only. PRO membership start at $2.99/day and offer 56KB of secure cloud storage.</p>

<h2>Frugal Docs vs. Google Docs</h2>
<p>See why Frugal Docs is the superior hosting solution.</p>
<table>
<tr>
<td></td>
<td><b>Frugal Docs</b></td><td><b>Google Docs</b></td>
</tr>
<tr>
<td><b>URL Length</b></td><td>Exactly 3 alphabetical lowercase chars</td><td>Really Long</td>
</tr>
<tr>
<td><b>Security</b></td><td>Unbreakable</td><td>Sad!</td>
</tr>
<tr>
<td><b>Cost</b></td><td>$2.99</td><td>$60</td>
</tr>
<tr>
<td><b>Storage</b></td><td>56,000</td><td>30</td>
</tr>
<tr>
<td><b>Clouds</b></td><td>In The Sky</td><td>On The Ground</td>
</tr>
<tr>
<td><b>Overlord</b></td><td>Benevolent</td><td>Evil</td>
</tr>
</table>
</div>
