html(lang="en")
    head
        style
            include ../static/style.css
        link(href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet")
        title 404 
        meta(name="viewport")
    body
        
        .content
            h1 404

            h2 Lost in space...probably dead
                        
