html(lang="en")
    head
        style
            include ../static/style.css
        link(href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet")
        title Mars 
        meta(name="viewport")
    body
        
        .content
            h1 Upgrading rocket

            p When you were figuring out how to upgrade your rocket, you stumbled across a brilliant thing that would make spaceflight incredibly efficient and cheap. The issue is that Elon Musk figured this out and hired ninjas to kill you.

            h2 You died

                        
