<h1>Connect with friends and the world around you on Fakebook, the social network for human beings. </h1>
<form action="/" method="GET">
<input type="text" placeholder="First Name" />
<input type="text" placeholder="Last Name" /><br/><br/>
<input type="text" placeholder="DOB" />
<input type="text" placeholder="Hacker Name" /><br/><br/>
<input type="password" placeholder="Password" />
<input type="text" placeholder="Mother's Maiden Name" />
<input type="hidden" name="register" value="1" />
<p>By clicking sign up, you state that you are a human being (no lizard people allowed) you agree to our <a href="/tos">terms of service and privacy policy.</a></p>
<button type="submit" class="signup">Sign Up</button>
</form>