html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

* {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 10px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
