<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="pageWrapper">
      <img src="/images/avacado.png" width="600px"/>
      {{{body}}}
    </div>
  </body>
</html>
