<!DOCTYPE html>
<html>
  <head>
    <title>Amazin | {{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  </head>
  <body>
    <div class="logoWrapper">
      <img src="/images/logo.png" />
    </div>
    <div class="pageWrapper">

      {{{body}}}
    </div>
  </body>
</html>
