<h1>Amazin Web Services Console</h1>
<h2>Uh oh! Looks like Amazin Web Services is currently down. At Amazin, we insist on earning your trust through the highest standards. Please come back in a month to see if we have updates for you.</h2>

TODO willh please fix the website
{{#if flag}}
<h2>utflag{h1r3_4nd_d4vel0p_th3_b3st_am4z0n_s3ll0uts}</h2>
{{/if}}

<div>
<button onclick="window.location='/'">Bias for Action, Return Home</button>
</div>
