<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="headerblock">
      <img src="/images/amazin.jpg" />
    </div>
    <div class="wrapper">
    {{{body}}}
    </div>
  </body>
</html>
