<h1>New Account Registration</h1>
<p>Welcome to Amazin Web Services, <strong>{{username}}</strong>!</p>
<p>Below is your 1FA code. Register it now! Use the generated codes to log in. By using a non-constant password we are able to offer you the <strong>security of 2FA</strong> with the <strong>convenience of 1FA!</strong></p>
<div><img src="{{code}}" /></div>
<div>
willh index: {{firstIndex}}, your index: {{yourIndex}}
<button onclick="window.location='/'">Dive Deep, Return Home</button>
</div>