<img src="{{image}}" width="501" />
<div>
<h1>{{flag}}</h1>
<h1>Welcome to Cookie Monster's Cookie Emporium!</h1>
<h2>Only logged in users may gain access. Please enter your username and password to log in.</h2>
<span>{{message}}</span>
<form action="/" method="GET">
<input type="text" placeholder="Username" />
<input type="text" placeholder="Password" />
<button type="submit" name="submit" value="1">Login</button>
</form>
</div>
