#cover {
    background: #222 url('https://unsplash.it/1920/1080/?random') center center no-repeat;
    background-size: cover;
}

.center-page {
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
}
