<h1>Neil's Robot Factory</h1>
<h2>Welcome to Neils Robot Factory!</h2>
<p>Neil's Robot Factory is your number one place to get the latest in robotics technology. Check out our first generation telepresence robot BOXY.</p>
<img src="https://i.imgur.com/GmouOl2.jpg" width="400px" />
<p>Neil's Robot Factory is seeking investors to fund our next project, ROXY. You can contribute to our ICO at a 15% discount! Please send your bitcoins to receive an authentic certificate certifying that you are an early access contributor to ROXY.</p>
