html(lang="en")
    head
        style
            include ../static/style.css
        link(href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet")
        title Mars 
        meta(name="viewport")
    body
        
        .content
            h1 Stay home and watch anime

            p You forget to ever leave your home. You were so engrossed with staying up-to-date and complaining about your favorite waifu on a forum that doesn't actually matter that you forgot to live your life. As much as you could discuss Goku's kamehameha wave or which Jojo is your favorite online, you never could translate these social skills into real life.

            h2 You died...alone
