html(lang="en")
    head
        style
            include ../static/style.css
        link(href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet")
        title Mars 
        meta(name="viewport")
    body
        
        .content
            h1 Improving warp engine

            p You were trying to upgrade your warp engine, when the anti-matter containment field failed. It exploded and took out half the solar system.

            h2 You died

                        
