html(lang="en")
    head
        style
            include ../static/style.css
        link(href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet")
        title Mars 
        meta(name="viewport")
    body
        
        .content
            h1 Fly to mars

            p In order to get to mars, you have to do calculations of the flight route. You completed several hundred differential equations; however, you forget the constant and made a miscalculation.

            h2 You died

                        
